[Desktop Entry]
Name=Gtv-dvb
Comment=Media player & Digital TV
Type=Application
TryExec=bindir/gtv-dvb
Exec=bindir/gtv-dvb
Icon=display
Terminal=false
Categories=GTK;AudioVideo;Video
