[Desktop Entry]
Name=Gtv-dvb
Comment=Digital TV
Type=Application
TryExec=prefix/bin/gtv-dvb
Exec=prefix/bin/gtv-dvb %U
Icon=display
Terminal=false
Categories=GTK;AudioVideo
